In [8]:
import pandas as pd

In [9]:
# read file
twitter_data = pd.read_csv("twitter_data.csv");

In [10]:
# remove unecessary columns
del twitter_data['id'];
del twitter_data['count'];
del twitter_data['hate_speech'];
del twitter_data['offensive_language'];
del twitter_data['neither'];

In [11]:
# setting up the class as binary indicator
twitter_data['original_class'] = twitter_data['class'];
twitter_data.loc[twitter_data.original_class == 2, 'class'] = 0;
twitter_data.loc[twitter_data.original_class == 1, 'class'] = 0;
twitter_data.loc[twitter_data.original_class == 0, 'class'] = 1;

del twitter_data['original_class'];

In [12]:
# cleaning up tweets
twitter_data.tweet = twitter_data.tweet.str.replace("RT", "");
twitter_data.tweet = twitter_data.tweet.str.replace(r'(@[A-Za-z0-9_]+)|([^0-9A-Za-z \t])|(\w+:\/\/\S+)|([!@#$?.,\'])|([0-9]{3,})', "");
twitter_data.tweet = twitter_data.tweet.str.lower();

In [13]:
# changing names for later union
twitter_data['text'] = twitter_data['tweet'];

del twitter_data['tweet'];

twitter_data.head()

   class                                               text
0      0     as a woman you shouldnt complain about clea...
1      0     boy dats coldtyga dwn bad for cuffin dat ho...
2      0     dawg   you ever fuck a bitch and she start ...
3      0                             she look like a tranny
4      0     the shit you hear about me might be true or...

In [14]:
twitter_data.to_csv("twitter_pre_processed.csv", index=False)